@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<MinmosFoodDelivery.Models.Restaurant>

@{
    ViewData["Title"] = "Food Joints";
}

<head>
    <link rel="stylesheet" href="~/css/joints.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="~/js/cart.js"></script>
</head>

<body>
    @if (SignInManager.IsSignedIn(User) && User.Identity.Name.Contains("xelo"))
    {
        <h1 id="title">Food Joints</h1>
        <h5 id="info"> Hover above a joint for the menu.</h5>
        <div id="create">
            <a asp-action="Create">Create New</a>
        </div>
        <br />
    }
    else if (!SignInManager.IsSignedIn(User))
    {
        <h1 id="title">Food Joints</h1>
        <h5 id="info"> Hover above a joint for the menu.</h5>
        <h6 id="login-warning"> Login to purchase.</h6>
        <br />
    }
    else
    {
        <h1 id="title">Food Joints</h1>
        <h5 id="info"> Hover above a joint for the menu.</h5>
        <br />
    }

    <div class="menu container-fluid">
        @foreach (var item in Model)
        {
            <div class="item">
                <div class="item-wrap box-shadow-rounded">
                    <div class="item-front justify-content-center" id="@item.RestaurantId.ToString()">
                        <div>
                            <h2 id="name">
                                @Html.DisplayFor(modelItem => item.Name)
                            </h2>
                            <h5>
                                @Html.DisplayFor(modelItem => item.Address)
                            </h5>
                        </div>
                        <div class="item-image">
                            @if (item.ImageUrl == null)
                            {
                                <img src="~/css/Resources/joint.svg" alt="joint" />
                            }
                            else
                            {
                                <div class="item-clip-wrap">
                                    <img src="~/css/Resources/@item.ImageUrl" class="image-clip" alt="joint" />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="item-back">
                        @if (SignInManager.IsSignedIn(User) && User.Identity.Name.Contains("xelo"))
                        {
                            <div class="item-list-admin">
                                @foreach (var product in item.Products)
                                {
                                    <h5 id="name"> @product.Name</h5>
                                    <h5 id="price"> @product.Price $</h5>
                                    <div class="allergens">
                                        @foreach (var allergen in product.Allergens)
                                        {
                                            <h6> @allergen.Name</h6>
                                        }
                                    </div>
                                }
                            </div>

                            <div id="permissions">
                                <div class="border-top"></div>
                                <div id="permissions-edit">
                                    <a asp-action="Edit" asp-route-id="@item.RestaurantId">Edit</a>
                                </div>
                                <div id="permissions-delete">
                                    <a asp-action="Delete" asp-route-id="@item.RestaurantId">Delete</a>
                                </div>
                                <div id="permissions-create">
                                    <a asp-controller="Products" asp-action="Create">Product</a>
                                </div>
                            </div>

                        }
                        else if (!SignInManager.IsSignedIn(User))
                        {
                            <div class="item-list-normal">
                                <a class="nav-link text-dark box-shadow" id="login" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Login</a>

                                @foreach (var product in item.Products)
                                {
                                    <h5 id="name">@product.Name</h5>
                                    <h5 id="price">@product.Price $</h5>
                                    <div class="allergens">
                                        @foreach (var allergen in product.Allergens)
                                        {
                                            <h6> @allergen.Name</h6>
                                        }
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="item-list-normal">
                                @foreach (var product in item.Products)
                                {
                                    <div id="name" class="hover-underline-animation">
                                        <a class="nav-link" id="buy" onclick="action.toggle('@product.ProductId','@product.Name','@product.Price')">
                                            @product.Name
                                        </a>
                                    </div>
                                    <div id="price">@product.Price $</div>

                                    <div class="allergens">
                                        @foreach (var allergen in product.Allergens)
                                        {
                                            <h6> @allergen.Name</h6>
                                        }
                                    </div>

                                    <div class="product-buttons">
                                        <div class="nav-link hover-underline-animation-remove remove" id="remove-product-@product.ProductId" style="visibility:hidden" onclick="action.removeProduct('@product.ProductId','@product.Name','@product.Price')"></div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <br />
    @if (SignInManager.IsSignedIn(User) && !User.Identity.Name.Contains("xelo"))
    {
        <div class="cart container-fluid box-shadow-rounded" id="cart-toggle">
            <div id="order-title">
                <h2 id="user-order">@User.Identity.Name.Substring(0, User.Identity.Name.IndexOf('@'))</h2>
                <h2 id="subtitle-user-order">'s Shopping Cart</h2>
            </div>

            <div id="products">Cart Is Empty :(</div>

            <div id="order">
                <h5 id="total">0 $</h5>
                <a class="nav-link text-dark box-shadow" id="order-products" onclick="action.addOrder()" href="#input-address">Order</a>
            </div>
        </div>
        <div class="form-group">
            <form>
                <label for="input-address" id="label-address"><br /><br />Address</label>
                <input type="text" class="form-control rounded-pill border-0 box-shadow-rounded font-weight-bold" id="input-address" placeholder="11 Minmo Street" required maxlength="50">
                <br />
                <label for="input-tel" id="label-tel">Phone Number</label>
                <input type="text" class="form-control rounded-pill border-0 box-shadow-rounded font-weight-bold" id="input-tel" placeholder="07********" required maxlength="10">
                <br />
            </form>
        </div>
    }
    else { }

</body>


