@model IEnumerable<MinmosFoodDelivery.Models.Order>

@{
    ViewData["Title"] = "My Orders";
}

<head>
    <link rel="stylesheet" href="~/css/orders.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="~/js/order.js"></script>
</head>

<h1 id="title">@User.Identity.Name.Substring(0, User.Identity.Name.IndexOf('@'))'s Orders</h1>

@if (Model.Count() > 0)
{
    <h5 id="info"> Here are your account orders so far.</h5>
    <br />
    <table id="orders" class="table table-borderless table-striped text-center">
        <thead id="table-head">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    Delivery Address
                </th>
                <th>
                    Is Cancelled
                </th>
                <th>
                    Actions
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryAddress)
                    </td>
                    @if (item.IsCancelled)
                    {
                        <td class="font-weight-bold">
                            Yes
                        </td>
                    }
                    else
                    {
                        <td class="font-weight-bold">
                            No
                        </td>
                    }
                    @*<input class="form-check-input" type="checkbox" disabled checked="@item.IsCancelled" id="flexSwitchCheckDefault">*@

                    <td id="actions">
                        @if (!item.IsCancelled)
                        {
                            <a class="text-danger font-weight-bold" asp-action="Edit" asp-route-id="@item.OrderId">Cancel</a>
                        }
                        <a class="text-success font-weight-bold" asp-action="Details" asp-route-id="@item.OrderId">Details</a> @*|
                            <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a id="all-good" asp-controller="Home" asp-action="Index">Home</a>
}
else
{
    <h5 id="info" class="font-weight-bold"> No orders yet :(</h5>
    <br />
    <a id="to-joints" asp-controller="Restaurants" asp-action="Index">Place Order</a>
}
